<div>
  <div class="shadow">
    <h4> Create Employee Form</h4>
    <form>
      <div class="w-full flex flex-wrap">
        <mat-form-field class="w-full" >
          <mat-label>Name</mat-label>
          <input type="text" matInput placeholder="Name">
        </mat-form-field>
      </div>
      <div class="w-full flex flex-wrap">
        <mat-form-field class="w-full">
          <mat-label>Salary</mat-label>
          <input type="number" matInput placeholder="Salary">
        </mat-form-field>
      </div>
      <div class="w-full flex flex-wrap">
        <mat-form-field class="w-full">
          <mat-label>Designation</mat-label>
          <input type="text" matInput placeholder="Designation">
        </mat-form-field>
      </div>
      <div class="w-full flex flex-wrap">
        <mat-form-field class="w-full">
          <mat-label>MgrId</mat-label>
          <input type="text" matInput placeholder="MgrId">
        </mat-form-field>
      </div>
      <div class="flex justify-center">
        <button mat-raised-button color="primary"> Save</button>

      </div>

    </form>
  </div>

</div>
